<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>사용자 로그인 완료</title>
</head>
<body>
<h3> 사용자 로그인 완료</h3>
<p th:text="${session.email}"/>
<p><a th:href="@{/siteuser/}">첫페이지</a></p>

<form action="/siteuser/login/update" method="post">
	<input type="hidden" name="email" th:value="${session.email}">
	<p>새 암호:<input type="password" name="password" th:value="${session.password}"></p>
	<p>새 주소:<input type="text" name="address" th:value="${session.address}"></p>
	<p>새 전화번호:<input type="number" name="phone" th:value="${session.phone}"></p>
	<button type="submit">변경</button>
</form>

<p th:if="${msg}" th:text="${msg}"></p>


</body>
</html>